<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mattkula.secrettextview"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="11"/>

    <application android:label="SecretTextViewLibrary" android:icon="@android:drawable/gallery_thumb">
        <activity android:name="com.mattkula.secrettextview.DemoActivity"
                  android:label="SecretTextView Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
